<link rel="shortcut icon" href="cover.png">
<link rel="stylesheet" type="text/css" href="main.css">
<title>I've Had This Banjo For About A Week Now; Here's What I Can Play!</title>

    <meta name="title" content="I've Had This Banjo For About A Week Now; Here's What I Can Play!">
        <meta property="og:title" content="I've Had This Banjo For About A Week Now; Here's What I Can Play!">
        <meta property="og:type" content="album">
        <meta property="og:site_name" content="Sponsored By Mark!">
        <meta property="og:description" content="18 track album">
        <meta property="og:image" content="cover.png">

<script src="jquery.min.js"></script>
<script src="playlist.js"></script>

<h1>I've Had This Banjo For About A Week Now; Here's What I Can Play!</h1>

<a href="https://marksilver.gitlab.io">(Return to Index)</a><br><br>

<img style="border:1px white solid" src="cover.png" width="250px" height="250px"/>

<p><i>Released on 18th March 2018</i></p>

<p>Here's a selection of assorted originals &amp; covers I played on my newly-acquired banjo. Enjoy. ;)</p><hr>

<h2>Listen</h2>

Click on a track's title to play it, &amp; the website will stream the playlist from there!<br>
Alternatively, you can stream this album in your own media player with its <a href="1weekbanjo.m3u">M3U File</a>.<br><br>

<audio id="audio" preload="auto" tabindex="0" controls="" src="intro.ogg">

	You don't have Javascript enabled, but you can click a track's title to download it. :)

</audio>

<ul id="playlist">

	<li class="active">
	
		<a href="intro.ogg">
			Intro
		</a>

		(Dueling Banjos Theme)
	
	</li>

	<li>
	
		<a href="oceanman.ogg">
			Ocean Man
		</a>
		
		 (Ween)
	
	</li>
	
	<li>
	
		<a href="livingbytheshore.ogg">
			Living By The Shore
		</a>

		(co-written by Josh Price)
	
	</li>
	
	<li>
	
		<a href="tvnever.ogg">
			And The TV Never Turned Off Again
		</a>
	
	</li>
	
	<li>
	
		<a href="eveningecho.ogg">
			Evening Echo
		</a>
		
		 (lyrics by Doug Haberman)
	
	</li>
	
	<li>
	
		<a href="flymetothemoon.ogg">
			Fly Me To The Moon
		</a>
		
		 (Frank Sinatra / Count Basie)
	
	</li>
	
	<li>
	
		<a href="strawintheocean.ogg">
			Straw In The Ocean
		</a>
	
	</li>
	
	<li>
	
		<a href="rainbowconnection.ogg">
			The Rainbow Connection
		</a>

		(Kermit The Frog)
	
	</li>
	
	<li>
	
		<a href="ringoffire.ogg">
			Ring Of Fire
		</a>

		(Johnny Cash)
	
	</li>
	
	<li>
	
		<a href="pragmaticjellyfish.ogg">
			Pragmatic Jellyfish
		</a>

		(The Nonstarters)
	
	</li>
	
	<li>
	
		<a href="brandnewstateofmind.ogg">
			Brand New State Of Mind
		</a>

		(Probehead)
	
	</li>
	
	<li>
	
		<a href="istayed.ogg">
			I Stayed
		</a>

		(Sometimes The Cat)
	
	</li>
	
	<li>
	
		<a href="goldenwatch.ogg">
			The Golden Watch
		</a>

		(The Nonstarters)
	
	</li>
	
	<li>
	
		<a href="crocodilerock.ogg">
			Crocodile Rock
		</a>

		(Elton John)
	
	</li>

	<li>
	
		<a href="whirlwind.ogg">
			Whirlwind
		</a>

		(The Nonstarters)
	
	</li>

	<li>
	
		<a href="nothingman.ogg">
			The Adventures Of Nothing Man
		</a>

		(The Nonstarters)
	
	</li>

	<li>
	
		<a href="marriedwithchildren.ogg">
			Married With Children
		</a>

		(Oasis)
	
	</li>

	<li>
	
		<a href="pastelbadge.ogg">
			Goodbye, Our Pastels Badges
		</a>

		(Flipper's Guitar)
	
	</li>

</ul>

<hr>

<h2>Download Album</h2>

<a href="https://gitlab.com/marksilver/1weekbanjo/">clone/download the repo</a>.
